<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6HQFWK204V"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6HQFWK204V');
</script>

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->
<header class="site-header">
  <nav class="nav">
    <ul>
      <!-- <li><a href="/">Reagan Howell</a></li> -->
      <!-- <li><a href="/resume/resume.pdf" target="_blank">Resume</a></li> <!-- Add target="_blank" here -->
      <!-- <li><a href="projects/projects.html">Projects</a></li> <!-- Add this line-->
    </ul>
  </nav>
</header>
