<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->
<header class="site-header">
  <nav class="nav">

    <li><a href="/">Reagan Howell</a></li>
    <li><a href="/resume/resume.pdf" target="_blank">Resume</a></li> <!-- Add target="_blank" here -->
    <li><a href="/projects/projects.md">Projects</a></li> <!-- Add this line -->

  </nav>
</header>
